@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

.card-container {
    background-image: linear-gradient(rgba(221,221,221,0.8) 0%, rgba(221,221,221,0.8) 100%), url('../ressources/LOGO COACHING IC FOND BLANC.png');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(60px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile-img {
    border-radius: 50000px;
    width: 40%;
    -webkit-box-shadow: 9px 11px 18px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 9px 11px 18px 0px rgba(0,0,0,0.23);
    box-shadow: 9px 11px 18px 0px rgba(0,0,0,0.23);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.infos {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: "Sen", SansSerif, serif;
    font-weight: normal;
    font-size: xxx-large;
    margin: 0;
}

.age {
    font-family: "Sen", SansSerif, serif;
    font-weight: bolder;
    font-size: 100px;
    margin: 0;
}

.description {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.origin, .description-content {
    font-family: "Sen", SansSerif, serif;
    font-size: initial;
}

.origin {
    font-size: x-large;
}

.hobbys {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icon-img {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@media screen and (orientation: portrait) {

    .name {
        font-size: x-large;
    }

    .age {
        font-size: 15vw;
    }

    .origin {
        font-size: large;
    }

    .description {
        font-size: medium;
    }

}