.card-event {
    width: 100%;
    height: 100%;
    background: #6E12E2;
    border-radius: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-event-text {
    font-size: 20vmin;
    font-family: "Lato", serif;
    font-weight: bolder;
    color: white;
    margin: 0;
}