.card-event {
    width: 50%;
    padding: 5vmin 0;
    background: #6E12E2;
    border-radius: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.card-event-text {
    font-size: 20vmin;
    font-family: "Lato", serif;
    font-weight: bolder;
    color: white;
    line-height: 18vmin;
    margin: 0;
}