@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

.CardDisplay {
    background-image: url("../ressources/Card-Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    flex: 1;
    font-size: 4vw;
    font-family: "Sen", sans-serif;
    font-weight: normal;
    color: #fff;
    margin: 20px auto 0;
}

@media screen and (orientation: portrait) {

    .CardDisplay {
        margin: 0;
        overflow-x: hidden;
        background-image: url("../ressources/Group 2.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title {
        font-size: 8vw;
        text-align: center;
    }
}