@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.parallax {
    perspective: 300px;
    height: 150vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    scroll-snap-type: y mandatory;
}

.header-group {
    height: 200vh;
}

.Headers {
    text-align: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateZ(0);

}

.bg-image {
    background-image: linear-gradient(rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.6) 70%, rgba(0,0,0,0.3) 100%), url("../ressources/EPFL-vue-aerienne-1536x864.jpg");
    transform: translateZ(-300px) scale(3);
}

.logo {
    width: 50vh;
    margin-bottom: -5vh;
}

.Title {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.welcome-txt {
    color: white;
    font-family: "Alex Brush", cursive;
    font-size: 17vmin;
    font-weight: 200;
    text-align: center;
    line-height: min(13vh, 13vw);

    margin-top: 5vh;
}

.rotate {

    transform: rotate(-12deg);

    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-12deg);

    /* Firefox */
    -moz-transform: rotate(-12deg);

    /* IE */
    -ms-transform: rotate(-12deg);

    /* Opera */
    -o-transform: rotate(-12deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.Video {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}


@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

.nav {
    width: 5vmax;
    margin-top: 4vh;
    animation: float 3s ease-in-out infinite;
}

.Menu {
    background-color: white;
}

.Group {
    z-index: 1;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    /*border-top-width: 3vh;*/
    /*border-style: solid;*/
    /*border-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.44) 70%, rgb(255, 255, 255) 100%);*/
    /*border-image-slice: 1;*/
    background: white;
}



.txt {
    width: 35vw;
    font-family: "Quicksand", sans-serif;
    font-size: 2vmax;
    font-weight: lighter;
    text-align: justify;
}

.button {
    height: 80vh;
    width: 40vw;
    padding-top: 2vh;
    background: #fafbfc;
    border-radius: 10vmin;
    -webkit-box-shadow: 12px 9px 10px -6px rgba(0,0,0,0.51);
    box-shadow: 12px 9px 10px -6px rgba(0,0,0,0.51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button:hover {
    height: 81vh;
    width: 41vw;
}

.groupIco {
    width: 80%;
    margin: 0;
}

.groupTxt {
    flex: 2;
    font-family: "Comfortaa", serif;
    font-size: 6vw;
    text-align: center;
    vertical-align: center;
    color: #49CCCC;
    margin: 0;
}

.Timeline {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    background: white;
}


/* Création visuelle en mode portrait */
@media screen and (orientation:portrait) {

    .logo {
        width: 80vw;
    }

    .Group {
        flex-direction: column;
        scroll-snap-align: none;
    }

    .Title, .Video, .Timeline {
        scroll-snap-align: none;
    }

    .txt {
        margin-top: 5vh;
        width: 80vmin;
    }

    .button {
        height: 80vw;
        width: 80vw;
    }

    .button:hover {
        height: 81vw;
        width: 81vw;
    }

    .groupTxt {
        font-size: 10vw;
        margin: 0;
    }

    .groupIco {
        width: 70%;
        margin: 0;
    }
}